.profile__text {
    margin-top: 18px;
    color: #ffffff;
    font-size: 18px;
}

@media (max-width: 440px) {
    .profile__text {
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}